@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<FilmViewModel>
@{
    Layout = "Master.cshtml";
}


<div class="main">
    <div class="area">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="film">
    <img src="@Model.PosterUrl" />
    <div class="infos">
        <h2>@Model.Title</h2>
        <span>
            <h3>@Umbraco.GetDictionaryValue("Site.Film.Duration")</h3>
            @Model.Duration @Umbraco.GetDictionaryValue("Site.Film.DurationUnit")
        </span>
        <div>
            <h3>@Umbraco.GetDictionaryValue("Site.Film.Categories")</h3>

            <ul>
                @foreach (var tag in Model.Categories)
                {
                    <li>@tag</li>
                }
            </ul>
        </div>
        <h3>@Umbraco.GetDictionaryValue("Site.Film.Synopsis")</h3>
        @Model.Synopsis
        <h3>Données depuis un service externe</h3>
        <div>
            Rated: @Model.Rated
        </div>
        <div>
            Released: @Model.Released
        </div>
    </div>
</div>
<div class="comments">
    <h3>@Umbraco.GetDictionaryValue("Site.Film.Comments")</h3>

</div>