@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Homepage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var threeLastFilms = Umbraco.ContentAtRoot().FirstOrDefault().DescendantsOfType("film").OrderByDescending(f => f.CreateDate).Take(3);
}
<body>

<div class="main">
    <div class="area">
        <h1>@Model.HeaderTitle</h1>
        <h3>@Model.HeaderSubtitle</h3>
    </div>

</div>
@Html.GetGridHtml(Model, "grid")

<section class="featuredFilms">
    <h1>@Umbraco.GetDictionaryValue("Site.OurLastFilms")</h1>
    <div class="lastFilms">
    @foreach (var film in threeLastFilms)
    {
        <a href="@film.Url()">
            <img src="@(film.Value<IPublishedContent>("poster").Url())"/>
        </a>
    }
    </div>
</section>
</body>