@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomepageViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="main">
    <div class="area">
        <h1>@Model.HeaderTitle</h1>
        <h3>@Model.HeaderSubtitle</h3>
    </div>

</div>
@Html.GetGridHtml(Model.Content, "grid")

<section class="featuredFilms">
    <h1>@Umbraco.GetDictionaryValue("Site.OurLastFilms")</h1>
    <div class="lastFilms">
    @foreach (var film in Model.FeaturedFilms)
    {
        <a href="@film.FilmUrl">
            <img src="@film.PosterUrl"/>
        </a>
    }
    </div>
</section>