@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BaseViewModel>
<html>
    @await Html.PartialAsync("Composition/Head")
    <body>
    <div class="navbar">
        <li class="logo"><a href="/"><img src="/images/logo.png"></a></li>

        @foreach (var item in Model.MainMenuItems)
        {
            <li class="buttons"><a href="@item.Url()">@item.Name</a></li>
        }
    </div>
        @RenderBody()
        @if (!Model.FooterMenuItems.Any())
        {
            <div class="footer">
                <div class="footercon">
                    <ul class="list1">
                        @foreach (var item in Model.FooterMenuItems)
                        {
                            <li><a href="@item.Url()">@item.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </body>
</html>
